n8n-script/n8n-workflow.json
{
  "name": "LIFELINE",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"The title as per format\",\n\t\"text\": \"The actual summary of the text\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        32
      ],
      "id": "af2bc979-82f4-413c-ad15-a21184792321",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        288,
        528
      ],
      "id": "07e842aa-40db-451a-86cd-53d90c98e0b1",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "rR7LSiMaMoxjFySo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        224,
        720
      ],
      "id": "48a02a10-1df5-404a-bd56-fea435f8ee82",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "6IS6AIxwXTEIEKn5",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        352,
        720
      ],
      "id": "0f4cad88-852f-4db3-83ca-c89f5c5faf6f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        752,
        496
      ],
      "id": "578c75ea-71de-43cd-aa23-0ce1fc34326a",
      "name": "When chat message received",
      "webhookId": "ae76ce14-17ab-4bfb-9008-18a814c80cbd"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1232,
        896
      ],
      "id": "5585a04f-a978-480b-a1b7-e9245358c87c",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "6IS6AIxwXTEIEKn5",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        368,
        880
      ],
      "id": "772967c6-20fc-4574-b695-04982a1e084f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        336
      ],
      "id": "88e443f1-5800-44a8-9c64-af79bc1e69a0",
      "name": "File uploaded to GDrive",
      "webhookId": "752271de-ea26-4514-8ffc-097b4ed13ab5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        336
      ],
      "id": "dd264e7b-6850-4159-9f0b-18b2a255b85b",
      "name": "Extract text from file"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take this file and generate a summarisation of its content. Be precise and concise, and make it no longer than 2000 characters. Also Take the name and just give it in the format:\n\n{title of the book} : {author of the book}\n\nFIlename:\n{{ $json.info.Title }}\n\nText:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -144
      ],
      "id": "48e5680c-ce9e-4327-b017-2c537fe9bf03",
      "name": "Email Creation Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        496
      ],
      "id": "042a8f01-e612-4ab3-8e37-61e54fefa5e9",
      "name": "Chatbot Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        176
      ],
      "id": "28171aa2-ef9b-4abf-8448-c829e75bbea5",
      "name": "Email Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "72XQqXdJDHIQXDpm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        720
      ],
      "id": "71d8ed34-a49e-4052-b2e1-ecd25122cef9",
      "name": "Chatbot Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "72XQqXdJDHIQXDpm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('File uploaded to GDrive').item.json.body.user_email }}",
        "subject": "Summarisation Made!",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  \n  <!-- Header -->\n  <div style=\"margin-bottom: 30px;\">\n    <div style=\"display: inline-block; background-color: #f0f4ff; color: #4f46e5; padding: 8px 16px; border-radius: 20px; font-size: 13px; font-weight: 600; margin-bottom: 15px;\">\n      📄 NEW SUMMARY\n    </div>\n    <h1 style=\"color: #1f2937; font-size: 24px; margin: 0; font-weight: 700;\">\n      {{ $json.output.title }}\n    </h1>\n  </div>\n  \n  <!-- Summary Card -->\n  <div style=\"background: linear-gradient(to bottom right, #f9fafb, #f3f4f6); border: 1px solid #e5e7eb; border-radius: 12px; padding: 24px; margin-bottom: 20px;\">\n    <p style=\"color: #6b7280; font-size: 15px; line-height: 1.7; margin: 0;\">\n      {{ $json.output.text }}\n    </p>\n  </div>\n  \n  <!-- Footer -->\n  <div style=\"border-top: 1px solid #e5e7eb; padding-top: 20px; text-align: center;\">\n    <p style=\"color: #9ca3af; font-size: 13px; margin: 0;\">\n      Generated by LIFELINE • {{ new Date().toLocaleString() }}\n    </p>\n  </div>\n  \n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        128
      ],
      "id": "eba54e0e-e9fe-4d63-b51b-3d79732d137e",
      "name": "Send a summarisation of the file",
      "webhookId": "753eb168-f26d-4d9c-b929-3c6cee1140ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "czwKjfDx4K1Jh4FF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=ex-{{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        336,
        96
      ],
      "id": "f8b56e1e-ce86-4a0f-aaed-adc7be98c86c",
      "name": "Email Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rR7LSiMaMoxjFySo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Use this tool to reference data about perscriptions and medical info that is present within the database and when I specify I that I want some personal information.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1232,
        720
      ],
      "id": "d71e448a-0354-4326-9fce-2b03b343574d",
      "name": "Postgres PGVector Store for Chatbot",
      "credentials": {
        "postgres": {
          "id": "rR7LSiMaMoxjFySo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=ex-{{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1104,
        720
      ],
      "id": "3ea28e5d-2c5f-4723-97cb-b9ddc6e27884",
      "name": "Chatbot Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rR7LSiMaMoxjFySo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chatbot flow\nThe chatbut is activated through the application interface. It has access to general knowledge though Gemini (or whatever model is chosen) and the PGVector store used for the RAG system",
        "height": 672,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        368
      ],
      "typeVersion": 1,
      "id": "e1c4bd60-ba61-4eb5-a1d6-70b6dd6b77c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Email flow\nEach file saved to the users GDrive folder called Lifeline will be sumarrised and sent to the users email from the Lifeline email (or whatever email credential is setup)",
        "height": 608,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -272
      ],
      "typeVersion": 1,
      "id": "6bcd19e3-bc76-4d92-93aa-67a5856ec67d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Emmeddings and RAG\nEach file saved to the users GDrive folder will be split up and embedded into the PGVector store, which is later provided as Information to the AI Chatbot. The table for the vecotr store is n8n_vectors",
        "height": 672,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        368
      ],
      "typeVersion": 1,
      "id": "1299eb80-596e-4172-ad57-ccde9c05ffaa",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Email Creation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chatbot Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store for Chatbot",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "File uploaded to GDrive": {
      "main": [
        [
          {
            "node": "Extract text from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from file": {
      "main": [
        [
          {
            "node": "Email Creation Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Creation Agent": {
      "main": [
        [
          {
            "node": "Send a summarisation of the file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot Agent": {
      "main": [
        []
      ]
    },
    "Email Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Creation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chatbot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Email Creation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store for Chatbot": {
      "ai_tool": [
        [
          {
            "node": "Chatbot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chatbot Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e0b97230-ac4e-4327-ab6b-18506c4bcafa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "748a403951ef5397ad8b72d8422b58005a6cb9d832a0481eb72e812975a0a59a"
  },
  "id": "xrC6f16n7QibcOHr",
  "tags": []
}